$border: #e5e5e5;

$color: #2c2c2c;
$colorHover: #838383;
$colorActive: #3b3b3b;
$colorDisabled: #c2c2c2;

$primary: #1d90fd;
$primaryHover: #40a9ff;
$primaryActive: #086dda;
$primaryDisabled: #b3d5fd;

$danger: red;
$dangerHover: #ff7878;
$dangerActive: #fd3030;
$dangerDisabled: #fdbfbf;
