@mixin shade {
  box-shadow: -1px 1px 19px 1px rgba(154, 153, 153, 0.35);
  -webkit-box-shadow: -1px 1px 19px 1px rgba(154, 153, 153, 0.35);
  -moz-box-shadow: -1px 1px 19px 1px rgba(154, 153, 153, 0.35);
}
