@import "./common/var.scss";

$delay: 0.4s;

@mixin primary ($isDanger: false, $disabled: false) {
  color: white;
  background: $primary;
  border: 1px solid $primaryHover;

  @if ($isDanger) {
    background: $danger;
    border: 1px solid $dangerHover;

    @if ($disabled) {
      background: $dangerDisabled;
      border-color: $dangerDisabled;
      cursor: not-allowed;
    }
  } @else {
    @if ($disabled) {
      background: $primaryDisabled;
      border-color: $primaryDisabled;
      cursor: not-allowed;
    }
  }

  @if($disabled == false) {
    &:hover,&:focus {
      background: $primaryHover;
      @if ($isDanger) {
        background: $dangerHover;
      }
    }

    &:active {
      background: $primaryActive;
      @if ($isDanger) {
        background: $dangerActive;
      }
    }
  }
}

@mixin default ($isDanger: false, $disabled: false) {
  border: 1px solid $border;

  @if ($isDanger) {
    color: $danger;
    border-color: $danger;

    @if ($disabled) {
      border-color: $dangerDisabled;
      color: $dangerDisabled;
      cursor: not-allowed;
    }
  } @else {
    @if ($disabled) {
      border-color: $colorDisabled;
      color: $colorDisabled;
      cursor: not-allowed;
    }
  }

  @if($disabled == false) {
    &:hover,&:focus {
      border-color: $primaryHover;
      color: $primaryHover;
      @if ($isDanger) {
        border-color: $dangerHover;
        color: $dangerHover;
      }
    }

    &:active {
      border-color: $primaryActive;
      color: $primaryActive;
      @if ($isDanger) {
        border-color: $dangerActive;
        color: $dangerActive;
      }
    }
  }
}

@mixin dashed ($isDanger: false, $disabled: false) {
  @include default($isDanger, $disabled);
  border-style: dashed;
}

@mixin text ($isDanger: false, $disabled: false) {
  border: none;
  background: transparent;

  @if ($isDanger) {
    color: $danger;

    @if ($disabled) {
      color: $dangerDisabled;
      cursor: not-allowed;
    }
  } @else {
    @if ($disabled) {
      color: $colorDisabled;
      cursor: not-allowed;
    }
  }

  @if($disabled == false) {
    &:hover,&:focus {
      color: $primary;
      @if ($isDanger) {
        color: $dangerHover;
      }
    }

    &:active {
      color: $primaryActive;
      @if ($isDanger) {
        color: $dangerActive;
      }
    }
  }
}

.t-button {
  color: $color;
  position: relative;
  font-size: 14px;
  background: white;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  vertical-align: top;
  user-select: none;
  touch-action: manipulation;
  transition: all $delay;
  white-space: nowrap;

  &:active, &:focus {
    outline: none;
  }

  span {
    vertical-align: top;
  }

  &-loading {
    pointer-events: none;

    &::after {
      pointer-events: none;
      content: "";
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: inherit;
      background-color: rgba(255,255,255,.35);
    }
  }

  &-block {
    width: 100%;
  }

  &-loading {
    cursor: default;
  }

  &-type {
    &-primary {
      @include primary(false, false);

      &-disabled {
        @include primary(false, true);
      }

      &-danger {
        @include primary(true, false);

        &-disabled {
          @include primary(true, true);
        }
      }
    }

    &-default {
      @include default(false, false);

      &-disabled {
        @include default(false, true);
      }

      &-danger {
        @include default(true, false);

        &-disabled {
          @include default(true, true);
        }
      }
    }

    &-dashed {
      @include dashed(false, false);

      &-disabled {
        @include dashed(false, true);
      }

      &-danger {
        @include dashed(true, false);

        &-disabled {
          @include dashed(true, true);
        }
      }
    }

    &-text {
      @include text(false, false);

      &-disabled {
        @include text(false, true);
      }

      &-danger {
        @include text(true, false);

        &-disabled {
          @include text(true, true);
        }
      }
    }
  }

  &-size {
    &-large {
      height: 40px;
      font-size: 16px;
      padding: 8px 20px;
    }

    &-default {
      height: 32px;
      padding: 4px 10px;
    }

    &-small {
      height: 22px;
      padding: 2px 10px;
    }
  }
}
