@import "./common/index";

.t-input {
  color: $color;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  line-height: 1;
  border: 1px solid $border;
  vertical-align: middle;
  border-radius: $borderRadius;
  width: 100%;
  font-size: 14px;

  &::-webkit-input-placeholder {
    color: $border;
  }

  &:focus {
    outline: none;
  }

  &-disabled {
    @extend .t-input;
    color: $colorDisabled;
    cursor: not-allowed;
  }
}

.t-input-size {
  &-large {
    height: $largeHeight;
    padding: 4px 12px;
    font-size: 16px;
    border-radius: $borderRadiusLarge;
    &-clear {
      @extend .t-input-size-large;
      padding-right: 27px;
    }
  }

  &-default {
    height: $height;
    padding: 4px 10px;
    &-clear {
      @extend .t-input-size-default;
      padding-right: 25px;
    }
  }

  &-small {
    height: $smallHeight;
    padding: 2px 6px;
    &-clear {
      @extend .t-input-size-small;
      padding-right: 24px;
    }
  }
}

.t-input-wrapper {
  display: inline-block;
  position: relative;
}

.t-input-right {
  font-size: 12px;
  color: $border;
  transition: all $delay;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);

  &:hover {
    color: $borderDeep;
  }
}
