@import "./common/index.scss";

.t-input {
  position: relative;
  display: inline-block;
  border: 1px solid $border;
  border-radius: $borderRadius;
  box-sizing: border-box;
  line-height: 1;
  width: 100%;
  transition: all $delay;
  vertical-align: middle;

  &::-webkit-input-placeholder {
    color: $border;
  }

  &:focus {
    outline: none;
    border: 1px solid $primary;
  }

  &-disabled {
    @extend .t-input;
    color: $colorDisabled;
    cursor: not-allowed;
  }

  &-size {
    &-large {
      height: $largeHeight;
      font-size: 16px;
      padding: 5px 14px;
      border-radius: $borderRadiusLarge;

      &-clear {
        @extend .t-input-size-large;
        padding-right: 30px;
      }
    }

    &-default {
      height: $height;
      padding: 5px 11px;

      &-clear {
        @extend .t-input-size-default;
        padding-right: 30px;
      }
    }

    &-small {
      height: $smallHeight;
      padding: 2px 5px;

      &-clear {
        @extend .t-input-size-small;
        padding-right: 30px;
      }
    }
  }
}

.t-input-wrapper {
  position: relative;
  display: inline-block;
}

.t-input-right {
  font-size: 12px;
  color: $border;
  transition: all $delay;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);

  &:hover {
    color: $borderDeep;
  }
}
