.t-layout {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  font-size: 14px;
}

.t-layout-slider {
  position: relative;
  max-width: 40%;
}

.t-layout-header {
  min-height: 32px;
  position: relative;
  overflow: auto;
  max-height: 25%;
}

.t-layout-body {
  flex: 1;
  position: relative;
  overflow: auto;
  min-height: 50%;
}

.t-layout-footer {
  min-height: 32px;
  max-height: 25%;
  position: relative;
  overflow: auto;
}
