@import "../_styles/common/index";

.t-select {
  font-size: 14px;
  position: relative;

  &-head {
    color: $colorLite;
    font-size: 14px;
    height: $height;
    cursor: pointer;
    overflow: hidden;
    padding: 4px 10px;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    text-overflow: ellipsis;
    border: 1px solid $border;
    border-radius: $borderRadius;
  }

  &-body {
    @include shade;
    position: absolute;
    padding: 2px 0px;
    box-sizing: border-box;
  }
}

.t-select-option {
  cursor: pointer;
  user-select: none;
  padding: 4px 12px;
  transition: all $delayFast;

  &:hover {
    background-color: $primaryVeryLite;
  }

  &:first-child {
    margin-top: 2px;
  }
}
