@import "../_styles/common/index";

.t-select {
  font-size: 14px;
  position: relative;

  &-head {
    font-size: 14px;
    height: $height;
    cursor: pointer;
    overflow: hidden;
    padding: 4px 10px;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    text-overflow: ellipsis;
    border: 1px solid $border;
    border-radius: $borderRadius;

    &-placeholder {
      @extend .t-select-head;
      color: $colorLite;
    }
  }

  &-body {
    @include shade;
    position: fixed;
    padding: 2px 0px;
    box-sizing: border-box;
    max-height: 256px;
    overflow: auto;

    &:focus {
      outline: none;
    }
  }
}

.t-select-option {
  cursor: pointer;
  user-select: none;
  padding: 4px 12px;
  transition: all $delayFast;

  &-choose {
    @extend .t-select-option;
    background-color: whitesmoke;

    &-disabled {
      color: $colorDisabled;
      cursor: not-allowed;
      user-select: none;
      padding: 4px 12px;
      transition: all $delayFast;
      background-color: #f8f8f8;

      &:first-child {
        margin-top: 2px;
      }
    }
  }

  &-disabled {
    color: $colorDisabled;
    cursor: not-allowed;
    user-select: none;
    padding: 4px 12px;
    transition: all $delayFast;

    &:first-child {
      margin-top: 2px;
    }
  }

  &:hover {
    background-color: $primaryVeryLite;
  }

  &:first-child {
    margin-top: 2px;
  }
}
